<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Detail Device</h4>
        </div>
        <div class="card-body">
          <form class="" action="#" method="post">
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Device ID</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="deviceID" readonly value="{{this.deviceDTO.id}}" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Device Name</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="deviceName" readonly value="{{this.deviceDTO.deviceName}}" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Store Name</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="storeName" readonly value="{{this.deviceDTO.storeName}}" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Area</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="area" readonly value="{{this.deviceDTO.area}}" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Username</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="username" readonly value="{{this.deviceDTO.username}}" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Group Name</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="groupName" readonly value="{{this.deviceDTO.groupName}}" class="form-control">
              </div>
            </div>
          </form>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
