<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">

        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Device Name</th>
            <th>Store Name</th>
            <th>Username</th>
            <th>Log Content</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let deviceLog of deviceLogList">
            <td>{{deviceLog.id}}</td>
            <td>{{deviceLog.deviceName}}</td>
            <td>{{deviceLog.storeName}}</td>
            <td>{{deviceLog.username}}</td>
            <td>{{deviceLog.contentLog}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div></div>
</div>



