<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">

        </div>
      </div>
<div style="margin: auto; width: 50%;border: 3px solid green;padding: 10px">
    <select [(ngModel)]="albumSelected" (ngModelChange)="fetchDeviceLog($event)" >
      <option *ngFor="let album of lstAlbums" [value]="album.userId">
        {{album.userId}}
      </option>
    </select>
</div>
      <!-- /.card-header -->

      <div class="card-body">
        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>UserID</th>
            <th>Title</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let deviceLog of lstAlbums">
            <td>{{deviceLog.id}}</td>
            <td>{{deviceLog.userId}}</td>
            <td>{{deviceLog.title}}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div></div>
</div>



