<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/user/home" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>
  <div class="sidebar">
    <!-- Avata User -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="/user/profile" class="d-block">Thế Hiển - User</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <!-- Quản Lý Hệ Thống -->
        <li class="nav-header">
          HỆ THỐNG
        </li>
        <!-- Quản Lý Tài Khoản -->
        <li class="nav-item">
          <a routerLink="/user/system/store-list" class="nav-link">
            <i class="nav-icon fas fa-laptop-house"></i>
            <p>
              Danh Sách Cửa Hàng
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/user/system/area-device" class="nav-link">
            <i class="nav-icon fas fa-laptop-house"></i>
            <p>
              Khu Vực Sử Dụng
            </p>
          </a>
        </li>
        <!-- End Quản Lý Hệ Thống -->

        <!-- Quản Lý Nội Dung -->
        <li class="nav-header">
          NỘI DUNG
        </li>
        <li class="nav-item">
          <a routerLink="/user/files/videos" class="nav-link">
            <i class="nav-icon fas fa-file-video"></i>
            <p>
              Upload Video
            </p>
          </a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a routerLink="/user/files/play-list" class="nav-link">-->
<!--            <i class="nav-icon fas fa-layer-group"></i>-->
<!--            <p>-->
<!--              Tạo Play List-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="/user/files/broadcast-schedule" class="nav-link">-->
<!--            <i class="nav-icon fas fa-calendar-alt"></i>-->
<!--            <p>-->
<!--              Tạo Lịch Phát-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
        <!-- End Quản Lý nội dung -->

        <!-- Quản Lý Thiết Bị -->
        <li class="nav-header">
          THIẾT BỊ
        </li>
        <li class="nav-item">
          <a routerLink="/user/devices/devices-system" class="nav-link">
            <i class="nav-icon fas fa-check-double"></i>
            <p>
              Thiết Bị
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/user/devices/group-device" class="nav-link">
            <i class="nav-icon fas fa-laptop-house"></i>
            <p>
              Nhóm Thiết Bị
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/user/devices/content-selector" class="nav-link">
            <i class="nav-icon fas fa-plus-square"></i>
            <p>
              Gắn Nội Dung
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/user/devices/operator-history" class="nav-link">
            <i class="nav-icon fas fa-history"></i>
            <p>
              Lich Sử Vận Hành
            </p>
          </a>
        </li>
        <!-- End Quản Lý Thiết Bị -->

        <!-- Quản Lý dữ liệu -->
<!--        <li class="nav-header">-->
<!--          BÁO CÁO-->
<!--        </li>-->
<!--        &lt;!&ndash; Quản Lý Tài Khoản &ndash;&gt;-->
<!--        &lt;!&ndash; Lịch Sử Vận Hành &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="/user/reports/history-support" class="nav-link">-->
<!--            <i class="nav-icon fas fa-laptop-house"></i>-->
<!--            <p>-->
<!--              Lịch Sử Hổ Trợ-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="/user/reports/history-insurance" class="nav-link">-->
<!--            <i class="nav-icon fas fa-laptop-house"></i>-->
<!--            <p>-->
<!--              Lịch Sử Bảo Hành-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
        <!-- End Lịch Sử Vận Hành -->
        <!-- End Quản Lý dữ liệu -->
      </ul>
    </nav>
    <!-- EndSidebar Menu -->
  </div>
</aside>
