<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Update Device</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="updateDevice()">
            <div class="form-group row mb-4">
              <div class="col-sm-12 col-md-7">
                <input type="text" name="deviceID" hidden value="{{deviceDTO.id}}" [(ngModel)]="deviceDTO.id" class="form-control">
                <input type="text" name="username" hidden value="{{deviceDTO.username}}" [(ngModel)]="deviceDTO.username" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Device Name</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="deviceName"  value="{{deviceDTO.deviceName}}" [(ngModel)]="deviceDTO.deviceName" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Store Name</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="storeName"  value="{{deviceDTO.storeName}}" [(ngModel)]="deviceDTO.storeName" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Area</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="area"  value="{{deviceDTO.area}}" [(ngModel)]="deviceDTO.area" class="form-control">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Group Name</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" name="groupName"  value="{{deviceDTO.groupName}}" [(ngModel)]="deviceDTO.groupName" class="form-control">
              </div>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Device</button>
            </div>
          </form>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
